.header {
    background: lightpink;
    height: 56px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.youtube-home-wrap {
    border: 5px blue solid;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    box-sizing: border-box;
    height: 47px;
    width: 50px;
    margin-left: 30px;
}

.catalog {
    display: flex;
    justify-content: center;
    align-items: center;
}

#catalog-icon {
    height: 20px;
    width: 20px;
}
.youtube-logo {
    display: flex;
    align-items: center;
}

#youtube-logo-image {
    height: 20px;
    width: 90px; 
}

img {
    height: 60px;
    width: 120px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    box-sizing: border-box;
    width: 568px;
    height: 40px;
}

input {
    height: 40px;
    width: 515px;
    border-radius: 16px 0 0 16px;
}

button {
    background: lightgray;
    border-radius: 0 16px 16px 0;
    height: inherit;
    width: 64px;
    margin: 0;
    cursor: pointer;
}